body{
    background-color: rgb(246, 236, 224);
}

h1{
    color: rgb(188, 4, 89);
}


ul li::marker{
    color: rgb(255, 0, 208);
}

ul li a{
    color: rgb(100, 39, 6);
    text-decoration: none;
}

ul li a:hover{
    text-decoration: underline;
    color: #610303;
}

ul li {
     color: rgb(139, 0, 95);
}